# Application
LOG_LEVEL='info'

# Database
DATABASE_URL='postgresql://[USERNAME]:[PASSWORD]@127.0.0.1:5432/db'

# BetterAuth
BETTER_AUTH_URL='http://localhost:3000'
BETTER_AUTH_SECRET=

# GitHub Oauth Provider
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google Oauth Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
